<p>
  La cantidad de productos que se tienen {{ myShoppingCart.length }}
</p>
<p>
  El total a pagar es: $ {{ total }}
</p>
<p>
  <!-- Pipes para ver dar formato a la fecha o moneda etc -->
  Today: {{ today | date:'short' }}
</p>
<p>
  <!-- Pipes para ver dar formato a la fecha o moneda etc -->
  Today: {{ today | timeAgo }}
</p>
<p>
  <!-- Pipes para ver dar formato a la fecha o moneda etc -->
  Otra Fecha: {{ today | date:'yyyy/dd/mm' }}
</p>
<p>
  <!-- Pipes para ver dar formato a la fecha o moneda etc -->
  {{ 'vjdD' | uppercase }}
</p>
<div class="products--grid">
  <!-- Ciclo :

Constructor: cuando se corre una instancia
ngOnChanges : corre antes y durante en el render, siemrpe que detecte cambios en el Input, está para eso, para detectar los cambios.
ngOnInit: corre antes pero tiene la condicione que solo correo una vez. Ahi se corren eventos asincronos.
ngAfcterViewInit: corre cuando los hijos de ese componentes se han renderizado.
NgOnDestroy: Corre cuando se elimina el componente. -->
                                                                    <!-- Evento que se recibe del  hijo al padre -->
  <app-product [product]="product" *ngFor="let product of products" (addedProduct)="onAddToShoppingCart($event)"></app-product>
</div>
