<!-- este es el enlace y la prop se manda por Input -->
<!-- <p><input type="text" [(ngModel)]="imgParent"></p>
<button (click)="toggleImg()" >Toggle Img</button>
<p> {{ showImg }} </p> -->
<!-- se manda como propiedad en img -->
<!-- Comunicacion entre componente hijo a padre se manda un event siempre -->
<!-- <app-img *ngIf="showImg" (loaded)="onLoaded($event)" [img]="imgParent"></app-img> -->
<!-- puesto que el componente se elimina se ejecuta el ngdestroy -->

<!-- iterador para mandar los productos uno por uno -->
<app-nav></app-nav>
<app-products></app-products>



